/* #MainTable{
    background-color: red
}*/


table#MainTable td {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.RowHeader {
    font-weight: bold;
}

.ColNewName {
    background-color: #DDD;
    text-align: right;
}


.ColSpacerBetweenNames {
    background-color: #FFF;
    text-align:center;
}


.ColExistingFile {
    background-color: #FFFFA0
}

    .ColExistingFile.Selected {
        background-color: #CCCC00
    }

    .ColExistingFile.Problem {
        background-color: #CC0000
    }

.ColStatus{
    /*background-color: #000;*/
    height: 30px;
    width:30px;
}


.hiddenInputSpacer {
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: pre;
}

#drag {
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
}