/* #MainTable{
    background-color: red
}*/


table#MainTable td {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.RowHeader {
    font-weight: bold;
}

.ColNewName {
    background-color: #DDD;
    text-align: right;
}


.ColSpacerBetweenNames {
    background-color: #FFF;
    text-align:center;
}


.ColExistingFile {
    background-color: #FFFFA0
}

